<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cuzz.springboot.mapper.EmployeeMapper">

    <!-- Employee getEmpById(Integer id); -->
    <select id="getEmpById" resultType="com.cuzz.springboot.bean.Employee">
        SELECT * FROM employee WHERE id = #{id}
    </select>

    <!-- void insertEmp(Employee employee); -->
    <insert id="insertEmp">
        INSERT INTO employee(lastName, email, gender, d_id) VALUES (#{lastName}, #{email}, #{gender}, #{dId})
    </insert>

</mapper>